# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Mac
.DS_Store

# Frontend
node_modules/
build/
dist/

# Backend
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Env
.env
.env.local

